.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => "#"}
        %i.glyphicon.glyphicon-home
        Anasayfa
        %span.sr-only (current)
    %li
      %a{:href => "#"}
        %i.glyphicon.glyphicon-cog
        Ayarlar
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-indent-left
        Yeni Kategori
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-copy
        Yeni Blog
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-file
        Yeni Sayfa
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon.glyphicon-align-justify
        Kategoriler
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-book
        Blog
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-duplicate
        Sayfalar
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-envelope
        İletişim
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-user
        Profil
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-off
        Çıkış Yap