.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => admin_index_url}
        %i.glyphicon.glyphicon-home
        Anasayfa
        %span.sr-only (current)
    %li
      %a{:href => admin_settings_url}
        %i.glyphicon.glyphicon-cog
        Ayarlar
    %li
      %a{:href => admin_sliders_url}
        %i.glyphicon.glyphicon-picture
        Slider Ayarı
  %ul.nav.nav-sidebar
    %li
      %a{:href =>   new_admin_category_url  }
        %i.glyphicon.glyphicon-indent-left
        Yeni Kategori
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-copy
        Yeni Blog
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-file
        Yeni Sayfa
  %ul.nav.nav-sidebar
    %li
      %a{:href => admin_categories_url}
        %i.glyphicon.glyphicon.glyphicon-align-justify
        Kategoriler
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-book
        Blog
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-duplicate
        Sayfalar
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""}
        %i.glyphicon.glyphicon-envelope
        İletişim
    %li
      %a{:href => edit_admin_user_url(session[:user_id])}
        %i.glyphicon.glyphicon-user
        Profil
    %li
      %a{:href => admin_logout_url}
        %i.glyphicon.glyphicon-off
        Çıkış Yap